body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: white
    min-height: 100vh;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background: white;
    border-radius: 15px;
    padding: 30px;
   
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5em;
}

.selector-container {
    margin-bottom: 30px;
}

label {
    display: block;
    font-size: 1.1em;
    color: #555;
    margin-bottom: 10px;
    font-weight: 600;
}

select {
    width: 100%;
    padding: 12px 15px;
    font-size: 1em;
    border: 2px solid #000000;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);

}


.table-container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-radius: 10px;
    border: 2px solid #000000;


}

thead {
    border: 2px solid black;
    border-radius: 10px;
    border-color: black ;
}

th {
    border: 1px solid  black;
    border-radius: 10px;
    padding: 15px;
    text-align: left;
    font-weight: 600;
    font-size: 1em;
}

td {
    border: 2px hidden black;
    border-radius: 10px;
    padding: 15px;
    vertical-align: middle;
    
}


.anime-image {
    width: 80px;
    height: 110px;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}



